<div class=" flex flex-col items-center pt-20 mb-8 text-center">

  <div class="flex items-center justify-center w-16 h-16 mb-4 rounded-2xl bg-teal-500/10 text-teal-400">

    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-8 h-8">
      <path stroke-linecap="round" stroke-linejoin="round" d="m3.75 13.5 10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75Z" />
    </svg>

  </div>

  <h1 class="text-2xl font-bold text-white tracking-tight">
    EnergyMonitor
  </h1>

  <p class="mt-2 text-sm text-gray-400">
    Sistema de Monitoramento de Energia
  </p>

</div>
